In [3]:
import pandas as pd
import dateutil
# Load data from csv file
data = pd.read_csv('phone_data.csv')

In [5]:
data.head(10)

   index            date  duration  item    month    network network_type
0      0  15/10/14 06:58    34.429  data  2014-11       data         data
1      1  15/10/14 06:58    13.000  call  2014-11   Vodafone       mobile
2      2  15/10/14 14:46    23.000  call  2014-11     Meteor       mobile
3      3  15/10/14 14:48     4.000  call  2014-11      Tesco       mobile
4      4  15/10/14 17:27     4.000  call  2014-11      Tesco       mobile
5      5  15/10/14 18:55     4.000  call  2014-11      Tesco       mobile
6      6  16/10/14 06:58    34.429  data  2014-11       data         data
7      7  16/10/14 15:01   602.000  call  2014-11      Three       mobile
8      8  16/10/14 15:12  1050.000  call  2014-11      Three       mobile
9      9  16/10/14 15:30    19.000  call  2014-11  voicemail    voicemail

In [8]:
data.groupby(
   ['month', 'item']
).agg(
    {
         'duration':sum,    # Sum duration per group
         'network_type': "count",  # get the count of networks
         'date': 'first'  # get the first date per group
        
    }
)

SyntaxError: invalid syntax (<ipython-input-8-40a67b7af2b0>, line 8)